<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.beyondlotto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/beyond"
        android:banner="@mipmap/beyond"
        android:roundIcon="@mipmap/beyond"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Leanback.VerticalGrid">

        <activity
            android:name="com.app.beyondlotto.Activities.Screen5Activity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.app.beyondlotto.Activities.Screen4Activity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.app.beyondlotto.Activities.Screen3Activity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/Theme.AppCompat" />

        <activity
            android:name="com.app.beyondlotto.Activities.Screen2Activity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/Theme.AppCompat" />

        <activity
            android:name="com.app.beyondlotto.Activities.Screen1Activity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/Theme.AppCompat" />

        <activity
            android:name="com.app.beyondlotto.Activities.ChooseScreenActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.app.beyondlotto.Activities.LoginActivity"
            android:banner="@mipmap/beyond"
            android:icon="@mipmap/beyond"
            android:label="@string/app_name"
            android:logo="@mipmap/beyond"
            android:roundIcon="@mipmap/beyond"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>